body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial;
  margin: 0;
  padding: 0;
  background: #f8fafc;
  color: #111827;
}

.app nav {
  display: flex;
  gap: 12px;
  padding: 12px 24px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.app nav h1 {
  margin: 0;
  font-size: 20px;
}

.app .user-management {
  margin: 0 3rem 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.app .user-management .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app .user-management .user-info div {
  margin: 0 .5rem;
}

.app nav a {
  color: #1f2937;
  text-decoration: none;
  margin-left: 12px;
}

.app nav button {
  cursor: pointer;
}

main {
  padding: 24px;
}

input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border-radius: 6px;
  background: #111827;
  color: white;
  border: none;
}
